* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
}

.header {
    background-color: green;
    color: white;
    width: 100%;
    line-height: 50px;
    font-size: 13px;
    text-align: center;
    font-weight: 100;
}

.header h1 {
    font-weight: 100;
}

.content {
    display: flex;
    margin: auto;
    min-height: 100vh;
    max-width: 800px;
}

.sidebar {
    background-color: red;
    flex: 0 0 200px;
    width: 200px;
}

.sidebar a {
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 2em 2em 0 3em;
}

li {
    margin-bottom: 0.8em;
}

li:hover {
    background-color: green;
}

.mainblock {
    margin: 25px;
    margin: 30px 30px 5px 30px;
    text-align: justify;
    line-height: 1.25em;
}

.mainblock span {
    color: red;
    font-size: 150%;
}

.mainblock p::selection {
    background-color: green;
    color: white;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    line-height: 30px;
    font-size: 9px;
    text-align: center;
}